<style type="text/css">
  .icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
  }
</style>

<a style="background-image:url(/images/github.png)"
   class="icon"
   href="https://github.com/julienfantin">Github</a><br/>
<a style="background-image:url(/images/email.png)"
   class="icon"
   href="mailto:julienfantin@gmail.com">Email</a><br/>
<a style="background-image:url(/images/twitter.png)"
   class="icon"
   href="https://twitter.com/dsturb">@dsturb</a><br/>
