<style type="text/css">
  body {
  width: 700px;
  margin:0 auto;
  }
  .icon {
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
  }
</style>

<p class="right-align">
  <a style="background-image:url(/images/link.png)"
     class="icon"
     href="https://julienfantin.github.com/">julienfantin.github.com</a><br/>
<a style="background-image:url(/images/github.png)"
   class="icon"
   href="https://github.com/julienfantin">github.com/julienfantin</a><br/>
<a style="background-image:url(/images/email.png)"
   class="icon"
   href="mailto:julienfantin@gmail.com?subject=Hi!">julienfantin@gmail.com</a><br/>
<a style="background-image:url(/images/twitter.png)"
   class="icon"
   href="https://twitter.com/dsturb">@dsturb</a><br/>
</p>

<h1>{{ site.title }}</h1>
<p>
  <strong>{{ site.tagline }}</strong><br/>
  <em>{{ site.tagline_long }}</em>
</p>
<br/>

